body {
    background-color: rgb(238, 238, 238);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(53, 197, 103);
    height: 73px;
    /* width: 100px; */
}

.ullu {
    display: flex;
    margin-left: 140px;
}

.ullu li {
    list-style: none;
    margin: 26px 0 12px 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
    text-decoration: none;
    color: white;
}

#hlk {
    list-style: none;
    font-size: 28px;
    margin-top: -46px;
    margin-left: 50px;
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btn {
    font-style: italic;
}

#dnl {
    list-style: none;
    /* display: inline-block; */
    margin-top: -37px;
    margin-left: 1270px;
    width: 170px;
    height: 35px;;
    background-color: green;
    color: white;
    padding-left: 15px;
    padding-top: 20px;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sign {
    margin-left: 1180px;
    margin-top: -32px;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.note {
    text-decoration: none;
    color: white;
    font-size: large;
}

.media {
    background-color: rgb(173, 231, 194);
    height: 300px;
}

#hlk2 {
    list-style: none;
    font-size: 65px;
    /* margin-top: -46px; */
    margin-left: 50px;
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 60px;
    padding-left: 280px;
}

.tt {
    padding-top: 20px;
    padding-left: 335px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    width: 600px;
}

.kit {
    margin-left: 370px;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    font-weight: 700px;
}

.para1 {
    margin-left: 370px;
    margin-top: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 700px;
}